body {
    background-color: white;
    margin: 0;
    font-family: 'Monsserat', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
}

.header-container {
    display: flex;
}


.header {
    background-color: black;
    height: 83px;
    display: flex;
    margin: 0 auto;
}


.button {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border-radius: 10px;
    outline: 0;
    padding: 15px 30px;
    border: 0;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px 20px 20px 0px;
}

.alt-button {
    background: rgba(205, 214, 219, 0.0);
    border: 1px solid #FFFFFF;
}

.nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 20px;
    padding: 0px;
}

.apartment-nav{
    margin: 0px 20px;
    justify-content: end;
    padding: 80px 0px 20px 0px;
}

.nav-item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 2px;
}

.apartment-nav-item a {
    font-size: 14px;
}

.apartment-nav-item:first-child a {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.apartment-nav-item:not(:first-child) a {
    color: grey;
}

.logo {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #E3B873;
    margin-right: 20px;
}

.header-telephone {
    font-weight: 600;
    font-size: 11px;
    text-decoration-line: underline;
    color: #E3B873;
    margin: 20px;
    margin-right: 40px;
}

.section {
    background-size: cover;
    position: relative;
    padding: 0px 0px;
    display: flex;
}

.section-div {
    align-self: center;
    display: flex;
}

/*.apartment-div {
    height: 500px;
    width: auto;
}*/

.section1 {
    background-image: url("../images/image1.jpg");
    height: 707px;
    align-items: center;
}

.section2 {
    background-color: black;
    height: 1074px;
}

.section3 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -350px;
}

.section4 {
    height: 800px;
}

.section1-container {
    position: relative;
    z-index: 1;
}

.wraper1 {
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
}

.section-column {
    align-self: center;
    margin: 0 20px;
}

.section3-container {
    position: relative;
    display: block;
}

.section1-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 53px;
    padding: 20px 0px;
}

h2 {
    font-size: 27px;
    font-weight: 800;
    padding: 15px 0px;
    line-height: 37px;
}

h3{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
    line-height: 25px;
}

.big-h3-title {
    font-size: 20px;
    line-height: 28px;
}

.title {
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 0px;
}

.upper-title {
    text-transform: uppercase;
}

.yellow-title {
    color: #E3B873;
}

.black-title {
    color: black;
}

p {
    margin: 15px 0px;
    font-weight: 300;
    font-size: 14px;
}


.subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}

.white-subtitle {
    color: white;
}

.black-subtitle{
    color: black;
    font-size: 18px;
    margin: 20px 20px;
    width: 681px;
    display: inline-flex;
    line-height: 37px;
}

.subtitle-small {
    font-size: 13px;
    line-height: 21px;
}

.apartment-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.apartment-info-item {
    display: inline-block;
    box-sizing: content-box;
    flex-basis: 50%;
    margin-bottom: 20px;
}

.svg-box {
    margin: 20px 0px;
    display: flex;
    justify-content: baseline;
}

.svg-title-box {
    justify-content: center;
    margin: -10px 0px;
}

.svg-item {
    width: auto;
    height: auto;
    fill: white;
    display: flex;
    margin: 20px 5px;
}

.svg-item:first-child {
    margin-left: 0px;
}

.svg-item:last-child {
    margin-right: 0px;
}

.svg-arrow {
    height: 40px;
    z-index: 1;
}

.svg-circle {
    fill: grey;
    width: 10px;
}

.svg-choosen-circle {
    fill: white;
}

.svg-line {
    max-width: 30px;
}

.svg-play-button {
    margin: 0px;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    display: flex;
}

.apartment-image {
    height: 482px;
    width: auto;
    display: flex;
    border-radius: 25px;
}

.video-thumbnail-div {
    margin: 20px 0px;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.video-thumbnail-img {
    opacity: 60%;
    border-radius: 25px;
}

.play-button {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: #E3B873;
    border-radius: 100px;
    border: 20px solid #E3B873;
}

.hr-short-yellow {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 55px;
    height: 2px;
    background: #E3B873;
    border: #E3B873;
    border-radius: 30px;

}
/* form */

.request-link-form-div {
    display: flex;
    margin: 30px 100px;
    justify-content: space-evenly;
}

.form-item {
    display: grid;
    width: 230px;
    height: 50px;
    text-align: justify;
    align-content: center;
    margin-right: 15px;
}

.form-item:last-child {
    margin-right: 0px;
    justify-content: center;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
}

.form-input {
    height: 30px;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.form-input::placeholder {
    color: black;
}

.form-label {
    color: gray;
    font-size: 13px;
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.repair-desc-box {
    width: 330px;
    height: 286px;
    margin-top: -100px;
    background-color: white;
    position: relative;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 25px;
}

.repair-ul {
    text-align: start;
    font-size: 13px;
    color: #959595;
    line-height: 27px;
    padding: 0px;
    margin-left: 34px;
    margin-top: 0px;
}

.repair-ul-title {
    text-align: start;
    padding-top: 25px;
    padding-bottom: 13px;
    margin-bottom: 0px;
    margin-left: 34px;
}

.repair-image{
    border-radius: 25px;
    z-index: -1;
    position: relative;
}

.button-div {
    padding: 0px;
    margin-top: -27px;
    z-index: 1;
    position: absolute;
}

.repair-button {
    line-height: 24px;
    display: flex;
    margin: 0px;
    width: 228px;
    height: 54px;
    font-size: 18px;
    justify-content: center;
    padding: 17px 16px;
}

.repair-div {
    display: inline-flex;
}